-# @evaluation = Evaluation.first
= form_for @evaluation do |f|
  = f.hidden_field :type

  .form-group
    = f.label :start, value: 'Empieza:', id: 'labelStart'
    = f.date_field :start, class: 'form-control', required: true
  .form-group
    = f.label :location, value: 'Ubicación:'
    = f.text_field :location, class: 'form-control', placeholder: 'Ubicación'
  .form-group
    = f.label :schedule, value: 'Horario:'
    = f.collection_select :schedule_id, @schedules, :id, :description, {include_blank: 'Seleccione Horario...'}, {class: 'form-control', required: true}
  .form-group
    = f.label :cost, value: 'Costo:'
    %i.text-muted Recuerde Incuir el monto con la unidad
    = f.text_field :cost, class: 'form-control', placeholder: '10000 Bs.'

  - if params[:type].eql? 'course'
    .form-group
      %label Areas con inscritos:
      .form-control
        - Area.preinsc_pendents.order('description ASC').uniq.each do |a| 
          %label.tooltip-btn{'data_toggle': :tooltip, title: a.description}
            .btn.btn-xs.btn-primary
              = check_box_tag 'areas[]', a.id, nil
              = a.description
              = "(#{a.inscriptions.course.preinscrito.count})"


  .modal-footer 
    %a.btn.btn-sm.btn-default{data: {dismiss: 'modal'}} Cancelar
    = f.submit 'Guardar', class: 'btn btn-sm btn-primary'
