= form_for @evaluation do |f|
  - if @evaluation.errors.any?
    #error_explanation
      %h2= "#{pluralize(@evaluation.errors.count, "error")} prohibited this evaluation from being saved:"
      %ul
        - @evaluation.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :start
    = f.datetime_select :start
  .field
    = f.label :end
    = f.datetime_select :end
  .field
    = f.label :location
    = f.text_field :location
  .field
    = f.label :lenguage
    = f.text_field :lenguage
  .field
    = f.label :type
    = f.number_field :type
  .actions
    = f.submit 'Save'
