.tabs-container
  %ul.nav.nav-tabs{role: "tablist"}
    %li.active
      %a.nav-link{"data-toggle": :tab, href: "#preinscriptions"}
        Preinscritos

    %li
      %a.nav-link{"data-toggle": :tab, href: "#confirmations"} 
        Confirmados
  .tab-content
    #preinscriptions.tab-pane.active{role: :tabpanel}
      .panel-body
        = render partial: '/inscriptions/index', locals: {inscriptions: @inscriptions.preinscrito, type: :preinscritos}
        
    #confirmations.tab-pane{role: :tabpanel}
      .panel-body
        = render partial: '/inscriptions/index', locals: {inscriptions: @inscriptions.inscrito, type: :inscritos}

- if current_user.is_admin?
  = render '/users/confirmation_modal'
  = render '/users/set_modal'
  = render '/users/update_inscription_modal'