%h1
  %i.fa.fa-graduation-cap
  =@title
  = link_to 'javascript:void(0)', class: 'btn btn-primary btn-sm m-r-1', onclick: "change_eva('#{evaluations_path}', '#{@evaluation.type}')" do
    %i.fa.fa-plus
    =@title

- if @actives.count > 0
  .p-1.m-b-1
    %h3= "#{@title}:"
    %table.table.table-condensed.table-striped.table-hover
      %thead
        %tr
          %th Fecha
          - if true #params[:type].eql? 'course'
            %th Título
          %th Inscritos
          %th Ubicación
          %th Horario
          %th Costo
          %th Estado

      - @actives.each do |eva|
        %tr.success
          %td= eva.start_to_local
          - if true #params[:type].eql? 'course'
            %td= eva.title
          %td
            - total = eva.inscriptions.count
            = link_to_if total > 0, total, make_evaluation_list_download_path(eva.id), target: "_blank"
          %td= eva.location
          %td= eva.schedule.description
          %td= eva.cost
          %td= eva.status.titleize
          %td            
            = link_to 'javascript:void(0)', onclick: "change_eva('#{evaluation_path(eva)}', '#{eva.type}', '#{eva.id}', '#{eva.location}', '#{eva.schedule_id}', '#{eva.cost}',true);", class: 'tooltip-btn', 'data_toggle': :tooltip, title: "Editar #{@title.singularize}"  do
              %i.fa.fa-pencil
          - if total > 0
            %td
              = link_to make_evaluation_list_download_path(eva.id), class: 'btn btn-xs btn-primary tooltip-btn', 'data-toggle': :tooltip, title: 'Descargar Lista de Secciones', target: "_blank" do
                %i.fa.fa-download
                Lista

          - if eva.inscriptions.count < 1
            %td
              = link_to evaluation_path(eva), method: :delete, data: { confirm: 'Ésta acción es irreversible ¿está seguro?' }, class: 'tooltip-btn', 'data_toggle': :tooltip, title: "Eliminar #{@title.singularize}" do
                %i.fa.fa-trash.text-danger


= render '/evaluations/modal_form'
= render '/evaluations/pendents'#, locals: {inscriptions: Inscription.course.pendents}

:javascript

  function change_eva(url, type, id = '', location = '', schedule_id = '', cost = '', edit = false){
    var form_area = $('#new_evaluation');
    form_area.attr("action", url);
    form_area.find('#evaluation_location').val(location);
    form_area.find('#evaluation_cost').val(cost);
    form_area.find('#evaluation_schedule_id').val(schedule_id);
    form_area.find('#evaluation_type').val(type);

    if (edit == true) {
      $('#titleEva').html('Editar Evaluación');
      form_area.append("<input type='hidden' name='_method' value='patch' id='inputEdit'>");
      form_area.append("<input type='hidden' name='id' value=id id='evaluation_id'>");

    }else{
      $('#titleEva').html('Nueva Evaluación');
      $('#inputEdit').remove();
      form_area.find('#evaluation_start').prop('disabled', false);
      form_area.find('#evaluation_id').prop('disabled', true);

      //$('#inputEdit').val('');
      //$('#inputEdit').attr('name', '');
    }
    $('#evaModal').modal();

  }