%h1
  %i.fa.fa-graduation-cap
  =@title
  = link_to 'javascript:void(0)', class: 'btn btn-primary btn-sm m-r-1', onclick: "change_eva('#{evaluations_path}', '#{@evaluation.type}')" do
    %i.fa.fa-plus
    =@title

- if @actives.count > 0
  .p-1.m-b-1
    %h3= "#{@title} Activas:"
    %table.table.table-condensed.table-striped.table-hover
      - @actives.each do |eva|
        %tr.success
          %td
            %b Fecha:
            = l eva.start, format: '%d %b %Y'
          %td
            %b Ubicación:
            = eva.location
          %td
            %b Horario:
            = eva.schedule.description
          %td
            %b Costo:
            = eva.cost
          %td
            %b Estado:
            = eva.status.titleize
          %td            
            = link_to 'javascript:void(0)', onclick: "change_eva('#{evaluation_path(eva)}', '#{eva.type}', '#{eva.id}', '#{eva.location}', '#{eva.schedule_id}', '#{eva.cost}',true);", class: 'tooltip-btn', 'data_toggle': :tooltip, title: "Editar #{@title.singularize}"  do
              %i.fa.fa-pencil
          - if eva.inscriptions.count < 1
            %td
              = link_to evaluation_path(eva), method: :delete, data: { confirm: 'Ésta acción es irreversible ¿está seguro?' }, class: 'tooltip-btn', 'data_toggle': :tooltip, title: "Eliminar #{@title.singularize}" do
                %i.fa.fa-trash.text-danger


= render '/evaluations/modal_form'
= render '/evaluations/pendents'#, locals: {inscriptions: Inscription.course.pendents}

:javascript

  function change_eva(url, type, id = '', location = '', schedule_id = '', cost = '', edit = false){
    var form_area = $('#new_evaluation');
    form_area.attr("action", url);
    form_area.find('#evaluation_location').val(location);
    form_area.find('#evaluation_cost').val(cost);
    form_area.find('#evaluation_schedule_id').val(schedule_id);
    form_area.find('#evaluation_type').val(type);
    form_area.find('#labelStart').hide();

    if (edit == true) {
      $('#titleEva').html('Editar Evaluación');
      form_area.append("<input type='hidden' name='_method' value='patch' id='inputEdit'>");
      form_area.append("<input type='hidden' name='id' value=id id='evaluation_id'>");

      form_area.find('#evaluation_start').prop('disabled', true);
      form_area.find('#evaluation_start').hide();
    }else{
      $('#titleEva').html('Nueva Evaluación');
      $('#inputEdit').remove();
      form_area.find('#evaluation_start').prop('disabled', false);
      form_area.find('#evaluation_id').prop('disabled', true);
      form_area.find('#evaluation_start').show();
      form_area.find('#labelStart').show();

      //$('#inputEdit').val('');
      //$('#inputEdit').attr('name', '');
    }
    $('#evaModal').modal();

  }