= form_for @language do |f|

  .form-group
    = f.label :id, value: 'Identificador:'
    = f.text_field :id, class: 'form-control upcase', placeholder: 'Identificador...', autofocus: true, maxlength: 4

  .form-group
    = f.label :description, value: 'Descripción:'
    = f.text_field :description, class: 'form-control', required: true, placeholder: 'Descripción...'
  .actions
    = link_to 'Cancelar', languages_path, class: 'btn btn-sm btn-default'
    = f.submit 'Guardar', class: 'btn btn-sm btn-primary'

:javascript
  $('.upcase').on('input',function(evt){ 
    var node = $(this);
    node.val(node.val().toUpperCase());
    node.val(node.val().replace(/[^A-Z0-9]/g,'') );
    });