

%h1
  = link_to new_language_path, class: 'btn btn-sm btn-primary m-r-1' do
    %i.fa.fa-plus
    Idioma
  %i.fa.fa-language
  Idiomas

%table.table.table-striped.table-sm.table-hover
  %thead
    %tr
      %th Id
      %th Descripción
      %th Inscripciones
      %th
      %th

  %tbody
    - @languages.each do |language|
      - total = language.inscriptions.count
      %tr
        %td= language.id
        %td= language.description
        %td
          %b= total
        %td
          = link_to edit_language_path(language) do
            %i.fa.fa-pencil
        %td
          - if total < 1
            = link_to language, method: :delete, data: { confirm: 'Esta acción es irrevarsible, ¿Está seguro?' }, class: 'text-danger' do
              %i.fa.fa-trash
