%p#notice= notice

%p
  %b Id:
  = @language.id
%p
  %b Description:
  = @language.description

= link_to 'Editar', edit_language_path(@language), class: 'btn btn-sm btn-primary'
\
= link_to 'Regresar', languages_path, class: 'btn btn-sm btn-default'
