%h1 
  %i.fa.fa-users
  Usuarios

%table.table.table-striped.table-sm.table-hover
  %thead
    %tr
      %th
      %th Cédula
      %th Nombres
      %th Apellidos
      %th Correo
      %th Teléfono
      %th Contraseña
      %th Tipo
      %th
      %th
      %th

  %tbody
    - @users.each_with_index do |user, i|
      %tr
        %td= i+1
        %td= link_to_if user.is_student?, user.id, user_path(user)
        %td= user.name
        %td= user.last_name
        %td= user.email
        %td= user.phone
        %td= user.password
        %td= user.tipo
        %td=# link_to user
        %td=# link_to 'Edit', edit_user_path(user)
        %td=# link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' }

%br

