%p#notice= notice

%p
  %b Description:
  = @schedule.description
%p
  %b Evaluation type:
  = @schedule.evaluation_type

= link_to 'Edit', edit_schedule_path(@schedule)
\|
= link_to 'Back', schedules_path
