#banner
  #banner_barra
    #banner_contenido
      Universidad Central de Venezuela
      %br
      Facultad de Humanidades y Educación
      %br
      Escuela de Idiomas Modernos
      %br
      ACEIM
      %br
      %br

%nav.navbar.navbar-dark.bg-warning{style: 'background-color: #ffc107 !important;'}

.animated.fadeInRight
  .row
    .col-lg-12
      .text-center
        %h1= @mainTitle
        
        %h3= @mainDesc

.p-l-2.p-r-2.p-b-2
  %h2.text-center PARA OBTENER INFORMACIÓN DETALLADA, POR FAVOR, SELECCIONE LA OPCIÓN DE SU PREFERENCIA
  = render '/evaluations/evaluations_links'

  .text-center.m-t-2
    = link_to "#newUserSession", class: 'btn btn-primary', "data-toggle": :modal do
      %i.fa.fa-paper-plane
      Usuario Registrado

= render '/home/login'

#pie.m-b-3
  CIUDAD UNIVERSITARIA DE CARACAS - PATRIMONIO CULTURAL DE LA HUMANIDAD
  %br
  Ciudad Universitaria de Caracas, Galpón 7, Frente a Farmacia. Telf.: (0212) 6052982
  %br
  Cursos de Extensión EIM-UCV - 2011