
- if inscriptions.count > 0
  / %h2#Evaluaciones:
  %table.table.table-hover.table-striped.table-border
    %thead
      %tr
        - if current_user.is_admin?
          %th Participante
        %th Descripción
        %th Lugar y Fecha
        - unless controller_name.eql? 'evaluations'
          %th Tipo
        - if current_user.is_admin? and type and type.eql? :inscritos
          %th Transacción #
        %th Estado
        %th 
    %tbody
      - inscriptions.each do |ins| 
        %tr
          - if current_user.is_admin? #or !(controller_name.eql? 'users' and action_name.eql? 'show')
            %td= link_to ins.user.description, user_path(ins.user_id)
          /%td=# ins.language.description.titleize
          /%td=# ins.area.description.titleize
          %td= ins.description
          %td= ins.evaluation.start_and_location if ins.evaluation
          - unless controller_name.eql? 'evaluations'
            %td= ins.tipo.titleize
          - if current_user.is_admin? and type and type.eql? :inscritos
            %td= ins.baucher
          %td= label_state_record ins
          - if current_user.is_admin?
            - if ins.preinscrito? and @actives.count > 0
              %td
                .tooltip-btn{'data-toggle': :tooltip, title: 'Confirmar Inscripción'}
                  = link_to '#confimationModal', class: 'badge badge-success', "data-toggle": :modal, onclick: "$('#confimation_form #inscription_id').val('#{ins.id}');" do
                    %i.fa.fa-legal
              - if ins.evaluation
                %td
                  .tooltip-btn{'data-toggle': :tooltip, title: 'Desasignar'}
                    = link_to release_inscription_path(ins.id), class: 'badge badge-danger' do
                      %i.fa.fa-remove
              - elsif (@evaluation and @evaluation.type.eql? 'Course')
                %td
                  .tooltip-btn{'data-toggle': :tooltip, title: 'Asignar a...'}
                    = link_to '#setModal', class: 'badge badge-primary', "data-toggle": :modal, onclick: "$('#set_form #inscription_id').val('#{ins.id}');" do
                      %i.fa.fa-check

            - if ins.inscrito?
              %td
                .tooltip-btn{'data-toggle': :tooltip, title: "Cambiar de #{ins.evaluation.tipo}"}
                  = link_to '#UpdateInscriptionModal', "data-toggle": :modal, onclick: "$('#update_evaluation_form #id').val('#{ins.id}');" do
                    %i.fa.fa-pencil
            %td
              = link_to ins, method: :delete, class: 'text-danger', data: { confirm: 'Ésta acción es irreversible ¿está seguro?' } do
                %i.fa.fa-trash
          - dw = Course.actives_areas_ids.include? ins.area_id 
          - if ins.preinscrito? and (ins.test? or (ins.course? and ins.evaluation)) #and ins.evaluation
            %td
              = link_to make_inscription_download_path(ins.id), class: 'btn btn-xs btn-primary tooltip-btn', 'data-toggle': :tooltip, title: 'Descargar Planilla Preinscripción', target: "_blank" do
                %i.fa.fa-download
                Planilla

          - if ins.aprobado?
            %td
              = link_to '#', class: 'btn btn-xs btn-primary' do
                %i.fa.fa-download
                Constancia de Aprobación



