
.text-center
  .page-heading.border
    %h2 Prueba de Dominio Instrumental de Idiomas Extranjeros para Postgrado
    = link_to "javascript:void(0)", class: 'btn btn-success m-b-1 m-r-3', onclick: "step1('Test', true);" do
      %i.fa.fa-graduation-cap
      Información sobre la Prueba
    
    = link_to "javascript:void(0)", class: 'btn btn-success m-b-1', onclick: "step1('Test');" do
      %i.fa.fa-graduation-cap
      Inscribir Prueba
  %br
  .page-heading.border
    %h2 Realizar Curso Instrumental Inglés
    = link_to "javascript:void(0)", class: 'btn btn-success m-b-1 m-r-3', onclick: "step1('Course', true);" do
      %i.fa.fa-graduation-cap
      Información del Curso
    
    = link_to "javascript:void(0)", class: 'btn btn-success m-b-1', onclick: "step1('Course');" do
      %i.fa.fa-graduation-cap
      Inscribir Curso

#inscriptionModal.modal.fade{"aria-hidden": true, tabindex: '-1'}
  .modal-dialog
    .modal-content
      .alert.alert-info
        %button.close{"aria-label": "Cerrar", "data-dismiss": :modal, type: :button}
          %span{"aria-hidden": true} ×
        .text-center Inscripción Cursos y Pruebas Instrumentales
      .modal-body
        .panels#procedure
          .contents#procedureTest= raw Test.procedure
          .contents#procedureCourse= raw Course.procedure            
          %br
          %hr
          = link_to "javascript:void(0)", class: 'btn btn-primary pull-right', onclick: 'step2();' do
            Siguiente
            %i.fa.fa-angle-right
          %br
        .panels#normative
          .contents#normativeTest= raw Test.normative
          .contents#normativeCourse= raw Course.normative            
          %br
          %hr
          #termsCheck
            %h5
              = check_box_tag 'check_terms', nil, false, onchange: "if(this.checked){$('#accept_terms').show()}else{$('#accept_terms').hide()}"
              Acepto las condiciones y normativa del programa
            = link_to "javascript:void(0)", id: 'accept_terms',class: 'btn btn-primary pull-right m-l-2', onclick: "step3();", style: 'display:none' do
              Siguiente
              %i.fa.fa-angle-right
            %br


          #termsOptions
            %a.btn.btn-default{data: {dismiss: 'modal'}} Salir
            = link_to "javascript:void(0)", class: 'btn btn-primary pull-right m-l-2', onclick: "step3();" do
              Inscribir

        .panels.m-b-3#confirmation
          %h4.text-center ¿Está completamente seguro de preinscribir el programa y aceptar las condiciones y normativa?
          = link_to "javascript:void(0)", class: 'btn btn-primary pull-right m-l-2', onclick: "step4();"  do
            Aceptar
          %a.btn.btn-default.pull-right{data: {dismiss: 'modal'}} Cancelar
        .panels#inscription
          = render partial: '/inscriptions/form'


:javascript

  function step1(type, info=false){

    $('.contents').hide();
    $('#normative'+type).show();
    $('#check_terms').prop('checked', false);
    $('#accept_terms').hide();
    $('.panels').hide();
    $('#procedure').show();
    $('#procedure'+type).show();
    if (info) {

      $('#termsCheck').hide();
      $('#termsOptions').show();

    }else{
      $('#termsCheck').show();
      $('#termsOptions').hide();
    }

    var languages = $("#inscription_language_id")
    if (type == 'Test'){
      languages.children('option').show();
      languages.children('option[value="ING"]').prop('selected', false);
      $('#inscription_evatype').val('test');

    }else{
      languages.children('option').hide();
      languages.children('option[value="ING"]').show();
      languages.children('option[value="ING"]').prop('selected', true);
      $('#inscription_evatype').val('course');
    }

    $('#inscriptionModal').modal();
  }

  function step2(){
    $('.panels').hide();
    $('#normative').show();
  }

  function step3(){
    $('.panels').hide();
    $('#confirmation').show();
  }

  function step4(){
    $('.panels').hide();
    $('#inscription').show();
  }  