!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    = favicon_link_tag 'logo.ico'
    %title INSTRUMENTALES
    / Main css styles
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    / Main javascript files
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    / Wrapper
    %div
      / Navigation
      / Page wraper
      .gray-bg
        / Page wrapper
        / Main view
        = render 'layouts/messages'
        = yield
        / Footer
        = render 'layouts/footer'
      / End page wrapper
    / End wrapper
